@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'PretendardVariable', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "PretendardVariable";
  src: url("./styles/font/PretendardVariable.ttf") format("truetype");
}

@font-face {
  font-family: "Ownglyph_Siwoo";
  src: url("./styles/font/Ownglyph_Siwoo.ttf") format("truetype");
}

@font-face {
  font-family: "Uhbeezziba";
  src: url('./styles/font/UhBeeZZIBA-Regular.ttf') format('truetype');
}
